<h1>Albums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Release Year</th>
    <th>Stock Level</th>
    <th>Cover</th>
    <th>Mark-up</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.title %></td>
    <td><%= album.artist.name %></td>
    <td><%= album.genre %></td>
    <td><%= album.release_year %></td>
    <td><%= album.stock_level %></td>
    <td><img class="cover" src="<%= album.cover() %>" />  </td>
    <td>£<%= album.mark_up %></td>
  </tr>
  <% end %>
  <p><a href="album/new">Add Album to Inventory</a></p>
</table>